body{
  margin: 0;
  font-family: "Lato", sans-serif
}

.navbar {
  overflow: hidden;
  background-color: #f44336;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}

.navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #fff;
  color: #000000;
}

.container_1 {
  background-color: #ee5135;
  width: 100%;
  height: auto;
  text-align:center;
}

.container_1 img {
  padding: 50px 0px 0px 5px;
  height: 300px;
  border-radius: 50%;
}

.container_1_text {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

.container_1_text1 {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.container_2{
  width: 50%;
  margin: 0 auto;
}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before{
  background-color: #ffcc33;
}
.bar.back::before{
  background-color: #a6cfe3;
}

.bar.learning::before{
  width: calc(20% - 10px);
}
.bar.basic::before{
  width: calc(40% - 10px);
}
.bar.intermediate::before{
  width: calc(60% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(100% - 10px);
}
